<!DOCTYPE html>

<!--
"If you can get any more story-length poems like Lovecraft's Psychopompos - by all means 'gimme'
https://hc-cdn.hel1.your-objectstorage.com/s/v3/838f4ae838aaa7932546f4543799129a327c44e5_gxo-s1_wsaa2kce.png
-->


<html>
<head>
    <title>gimme</title>
</head>
<body>
<style>
    @font-face {
        font-family: 'Phantom Sans';
        src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
        format('woff'),
        url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
        format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Phantom Sans';
        src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
        format('woff'),
        url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
        format('woff2');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'Phantom Sans';
        src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
        format('woff'),
        url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
        format('woff2');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    body{
        text-align: center;
        font-family: "Phantom Sans";
        background-color: #121217;
        color: snow;
    }
    a:link, a:visited{
        color: #939393;
    }
    button{
        border: none;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        font-size: inherit;
        font-family: "Phantom Sans";
        color: snow;
        background-color: #333;
    }
    input{
        width: 15rem
    }
    button:hover{
        cursor: pointer;
    }
</style>
<h2>
    <h2>Enter your <a href="https://hackatime.hackclub.com/my/settings">Hackatime API</a> key below</h2>
    <form action="/save-key" method="POST">
        <input type="password" name="gimme" required placeholder="Enter your Hackatime API key here"/>
        <br><br><button type="submit">Save API key</button>
    </form>
</h2>
</body>
</html>